<!DOCTYPE html>
<html>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style.css">
</head>
  <body>
    <section class="hero is-centered is-fullheight">
      <div class="hero-body ">
        <div class="container">
          <div class="container is-max-width">
            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-4-widescreen " >
   
 <div class="columns is-mobile is-centered is-vcentered">
                    <div class="column">


<form action="/user/selected" method="post" class="box">
 <h1 class="title has-text-centered">Use Parking</h1>
    <div class="field m-2"> 
    <label for="choosecity" class="label">Select Location</label>
<div class="select">
  <select name="selectarea" required>
    <% var flag=0;if(pdata.length) flag=1; if(flag==1) { pdata.forEach(team=> {
    if(team.slotsavailable>0) { %>
    <option value="<%=team._id%>" selected><%=team.parking_name%></option>
    <% } flag=1; })} else{%>
    <option selected>No Parking</option>
    <% }%>
    </div>

  </select>
  </div>
  <div class="field m-2 has-text-centered"> 
  <input type="submit"  class="button is-success" value="Use" />
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
        </div>
        </div>
        </section>
        </body>
        </html>
          <style>
    body {
      background-image: url("/park.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.9;
      margin: 0%;
    }
    </style>